{% extends "base.html" %}}
{% load core_extras %}
{% block content %}
<article class="schedule row" id="Schedule">
    <div class="col-12 col-lg-12">
        <h1 class="pagetitle">Schedule</h1>
        <table border="0" cellpadding="2" cellspacing="0" class=
        "table table-hover" style="width: 100%" summary="South Dakota Code Camp Schedule"
        width="100%">
            <thead>
                <th>Time</th>
                {% for room in rooms %}
                <th>{{ room }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for time in times %}
                <tr>
                    <td>
                        <h5>{{ time }}</h5>
                    </td>
                    {% for room in rooms %}
                        {% show_session room time %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock %}